html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*Reset para REMS 62.5% = 10px de 16px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/*Fuentes*/

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}


/*Estilos globales*/

img {
    max-width: 100%;
    /*permite que las img tengan este formato*/
}

.contenedor {
    max-width: 120rem;
    /* = 1200px*/
    /*aniade un ancho maximo del navegador*/
    margin: 0 auto 0 auto;
    /*se brindan margenes de tipo reloj*/
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}


/*Utilidades*/

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300 {
    font-weight: 300;
    /*tamanio de letra*/
}

.centrar-texto {
    text-align: center;
    /*alinea frase en el centro del navegador*/
}

.d-block {
    display: block!important;
}

.contenido-centrado {
    max-width: 800px;
}


/*botones*/

.boton {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
}

.boton-amarillo {
    background-color: #E08709;
}

.boton-verde {
    background-color: #71b100;
}


/*Header*/

.site-header {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}

.site-header.inicio {
    background-image: url(../img/header.jpg);
    background-position: center center;
    /*permite mostrar la img desde el centro*/
    background-size: cover;
    /*fuerza a la img a tomar el espacio disponible tanto en alto como en ancho del navegador*/
    height: 100vh;
    /*esto permite adapartar img al tamanio de la pantalla*/
    min-height: 60rem;
    /*permite al achicar la pantalla a un tamanio definido para la pagina*/
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    /*esto es para posisionar el texto "venta de casas" en la img*/
    justify-content: space-between;
    /*permite poner el texto abajo del logo en la img*/
}

.contenido-header h1 {
    color: white;
    padding-bottom: 2rem;
    /*establece un borde en la frase*/
    max-width: 60rem;
    line-height: 2;
    /*espacio entre separacion de frases*/
}

.barra {
    display: flex;
    /*psisiona el nav al costado*/
    justify-content: space-between;
    /*permite la separacion horizontal entre el logo y el nav*/
    align-items: center;
    /*permite aliniar el nav con el logo en el centro*/
    padding-top: 3rem;
    /*elimina espacio entre el logo y su techo*/
}


/*Navegacion*/

.navegacion a {
    color: white;
    text-decoration: none;
    /*esto es para remover el subrayado del nav*/
    font-size: 1.8rem;
    /* = 18px*/
    /*tamanio de letra*/
    margin-right: 2rem;
    /*espaciado entre las palabras del nav*/
}

.navegacion a:hover {
    /*esto permite cambiar el color a las palabras del nav*/
    color: yellowgreen;
}

.navegacion a:last-of-type {
    /*esto es para sacar el ultimo espaciado del nav asi se ve mas prolijo el codigo*/
    margin-right: 0px;
}


/*Iconos Nosotros*/

.iconos-nosotros {
    display: flex;
    /*se pone esta propiedad para decir que estamos usando flexbox*/
    justify-content: space-between;
}

.icono {
    flex-basis: calc(33.3% - 1rem);
    /*establece un ancho de recuadros de iconos.*/
    text-align: center;
}

.icono h3 {
    text-transform: uppercase;
    /*tranforma el texto a mayusculas*/
}


/*Anuncios*/

.contenedor-anuncios {
    /*formato para imagenes del main*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*esto es para controlar la direccion de apilado de tarjetas 3 arriba de otras 3*/
}

.anuncio {
    flex-shrink: 0;
    /*para encojer contenido de las tarjetas tiene que estar en 0*/
    /*formato para imagenes del main*/
    flex-basis: calc(33.3% - 1rem);
    /*se aplican propiedades css a las tarjetas*/
    border: 1px solid #B5B5B5;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
    /*para dar separacion a las tarjetas*/
}

.contenido-anuncio {
    padding: 2rem;
}

.contenido-anuncio h3,
.contenido-anuncio p {
    /*ordena los textos de la tarjeta*/
    margin: 0;
}

.precio {
    color: #71b100;
    font-weight: 700;
}

.iconos-caracteristicas {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    max-width: 500px;
}

.iconos-caracteristicas li {
    /*flex: 1;*/
    display: flex;
}

.iconos-caracteristicas li img {
    margin-right: 2rem;
}

.ver-todas {
    display: flex;
    justify-content: flex-end;
}


/*Contacto home*/

.imagen-contacto {
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}

.contenido-contacto {
    flex: 1;
    /*detecta el tamanio disponible, y cuantos elementos hay y los divide*/
    color: white;
}

.contenido-contacto p {
    font-size: 1.8rem;
}


/*Seccion inferior*/

.seccion-inferior {
    display: flex;
    justify-content: space-between;
}

.seccion-inferior .blog {
    flex-basis: 60%;
}

.seccion-inferior .testimoniales {
    flex-basis: calc(40% - 2rem);
}

.entrada-blog {
    display: flex;
    /*espacio entre imagen y texto*/
    justify-content: space-between;
    margin-bottom: 2rem;
}

.entrada-blog:last-of-type {
    margin-bottom: 0;
}

.entrada-blog .imagen {
    flex-basis: 40%;
}

.entrada-blog .texto-entrada {
    flex-basis: calc(60% - 3rem);
}

.texto-entrada a {
    color: black;
    text-decoration: none;
}

.texto-entrada h4 {
    margin: 0;
    line-height: 1.4;
}

.texto-entrada h4::after {
    content: '';
    display: block;
    width: 150px;
    height: .5rem;
    background-color: #71b100;
    margin-top: 1rem;
}

.texto-entrada span {
    color: coral;
}


/*Testimonial*/

.testimonial {
    background-color: #71b100;
    font-size: 2.4rem;
    padding: 2rem;
    color: white;
    border-radius: 2rem;
}

.testimonial p {
    text-align: right;
}

.testimonial blockquote::before {
    content: '';
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem;
}

.testimonial blockquote {
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}


/*Fotter*/

.site-footer {
    background-color: #333333;
    margin: 0;
}

.contenedor-footer {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.copyright {
    margin: 0;
    color: white;
}


/*Codigo para paginas internas*/

.contenido-nosotros {
    display: grid;
    grid-template-columns: 50% 50%;
    /*permite poner el 50% para la img y el otro 50% para el texto*/
    grid-column-gap: 2rem;
}

.texto-nosotros blockquote {
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    padding: 3rem 0;
}


/*Anuncio*/

.resumen-propiedad {
    display: flex;
    justify-content: space-between;
    align-items: center;
}